body {
    margin: 0;
    padding: 0;
    background-color: #b7afaf40;
}
#navigation {
    background: black;
    color: white;
}
.navbar {
    padding: 0rem 1rem;
}
#navbarText {
    margin-top: 14px;
}
span.navbar-text {
    letter-spacing: 10px;
}
.navbar-brand {
    color: white;
    font-size: 24px;
}
.nav-link {
    color: white;
    font-size: 12px;
}
a:hover {
    color: #67f126bb;
}
.nav-link:after {
    text-decoration-line: underline;
    text-decoration-color: #67f126bb;
}
.navbar-text a {
    color: white;
}
/* pre {
    text-align: center;
}
.brand {
    letter-spacing: 10px;
} */
.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}
.col-md-6 {
    margin-left: auto;
    background-color: white;
    margin-right: 70px;
}
section h2 {
    margin-top: 40px;
    text-align: center;
}
section h5 {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
}
section p {
    padding-inline-start: 40px;
}
ul li {
    margin-bottom: 10px;
}
#myBtn {
    text-align: center;
    margin-inline-start: 247px;
    background-color: black;
    color: white;
    padding: 7px 20px;
    text-transform: uppercase;
    border: 0;
    outline: none;
}
#more {
    display: none;
}
.col-md-3 {
    margin-right: auto;
    background-color: white;
    padding: 0;
}
section h4 {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}